.article-header {
    display: grid;
    justify-content: center;
    position: relative;
    color: #ebebc0;
    font-size: 35px;
    font-family: Couture, sans-serif;
    text-shadow: 0 0 10px #c7edc5;
    height: 100vh;
    overflow-x: clip;
    padding-block: 7rem;
    margin-block-end: 3rem;
    background-image: url('class.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    transform-origin: bottom;
    animation: header-image-animation linear;
    overflow-x: hidden;
    animation-timeline: view();
    animation-range: exit -250px;
}

.header-text {
    text-align: center;
    margin-top: -60px;
    animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit -20px;
}

body {
    background-color: #101414;
    overflow-x: hidden;
}

.person {
    height: 300px;
    width: 800px;
    background-color: lightsteelblue;
    margin: auto;
    margin-top: 50px;
    padding-left: 30px;
    display: flex;
    align-items: center;

    animation: person-fade-in linear;
    animation-timeline: view();
}

.mugshot {
    height: 250px;
    background-size: cover;
    width: 200px;
    border-radius: 15px;
    /*REMOVED  background-image:url('sahas.png');*/
}

.name {
    justify-content:center;
    margin: auto;
    position:absolute;
    text-align: center;
    top:0%;
    left:50%;
    color:black;
    transform:translateX(-90px);
    font-size: 16px;
}

.quote {
    justify-content:center;
    margin: auto;
    color:black;
    font-size: 20px;
    position:absolute;
    text-align: center;
    transform:translateX(-90px);
    left:45%;
    top:30%;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 890px;
    font-family: Couture, sans-serif;
    color: white;
}

.tabs__label {
    padding: 10px 25px;
    cursor: pointer;
    transition: transform 250ms;
}

.tabs__label:hover {
    transform:translateY(-5px);
}

.tabs__radio {
    display: none;
    margin: 60px;
}

.tabs__content {
    order: 1;
    width: 100%;
    border-bottom: 3px solid #000000;
    line-height: 1.5;
    display: none;
    justify-content:center ;
    text-align: center;
    padding: 20px;
    font-size: 40px;
}

.tabs__radio:checked+.tabs__label {
    font-weight: bold;
    color: #ffffff;
    border-bottom: 2px solid #000000;
}

.tabs__radio:checked+.tabs__label+.tabs__content {
    display: block;
}
 
.instagram {
    position:absolute;
    bottom: 3%;
    right: 3%;
    border-radius: 15px;
 }

.call {
    position:absolute;
    bottom: 3%;
    right: 8%;
}

.discord {
    position:absolute;
    bottom:3%;
    right:12.8%;
}

.email {
    position: absolute;
    bottom: 3%;
    right: 17.7%;
}

.linkedin {
    position: absolute;
    bottom: 3%;
    
}
.contactbutton {
    transition-duration: 125ms;
}

.contactbutton:hover {
    transform: scale(1.3) translateY(2px);
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

@keyframes person-fade-in {
    0% {
        transform: translateX(-300px);
        opacity: 0;
        background-color: #101414;
    }

    45%,
    100% {
        transform: translateX(0px);
        opacity: 1;
        border-radius: 20px;
        background-color: lightsteelblue;
    }
}

@keyframes header-image-animation {
    25% {
        opacity: 1
    }

    85%,
    100% {
        opacity: 0;
        scale: 1.4
    }
}

@keyframes person-image-animation {
    0%{
        opacity:0;
    }

    45%,
    100% {
        opacity:1;
    }
}